.btn {
  padding: 16.5px 35px;
  border: 0;
  border-radius: 20px;
  background-color: var(--fb-blue);
  color: var(--white);
  font-weight: 700;
}

.btn--sign-in {
  padding: 16.5px 50px;
  background-color: var(--turquoise);
  color: var(--white);
}

.btn--fb {
  background-color: var(--fb-blue);
  color: var(--white);
}

.btn--default {
  background-color: var(--royal-blue);
  color: var(--white);
}

.btn--google {
  padding: 9.5px 53px;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--light-gray);
}

.btn--google img {
  width: 66%;
}

.fa-facebook-f {
  margin-right: 4px;
}

.btn--small-padding {
  padding: 16.5px 21px;
}

.btn--extra-large {
  width: 100%;
}

.btn--turquoise {
  background-color: var(--turquoise);
}

@media (min-width: 375px) {
  .btn {
    padding: 16.5px 43px;
  }

  .btn--google {
    padding: 9.5px 60px;
  }

  .btn--sign-in {
    padding: 16.5px 58px;
  }

  .btn--small-padding {
    padding: 16.5px 29px;
  }
}

@media (min-width: 500px) {
  .btn {
    padding: 16.5px 42px;
  }

  .btn--sign-in {
    padding: 16.5px 56px;
  }

  .btn--google {
    padding: 9.5px 59px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--light-gray);
  }

  .btn--small-padding {
    padding: 16.5px 27px;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 13.5px 62px;
  }

  .btn--sign-in {
    padding: 13.5px 56px;
  }

  .btn--google {
    padding: 7.5px 59px;
  }

  .btn--fb {
    padding: 13.5px 42px;
  }

  .btn--small-padding {
    padding: 13.5px 27px;
  }
}

@media (min-width: 1024px) {
  .btn--sign-in {
    padding: 13.5px 58px;
  }
}

@media (min-width: 1440px) {
  .btn--sign-in {
    padding: 13.5px 66px;
  }

  .btn--google {
    padding: 6px 69px;
  }

  .btn--fb {
    padding: 13.5px 51px;
  }

  .btn--small-padding {
    padding: 13.5px 37px;
  }
}
