.btn {
  padding: 17px 55px;
  border: 0;
  border-radius: 20px;
  background-color: var(--royal-blue);
  color: var(--white);
  font-weight: 700;
}

.btn--sign-in {
  padding: 17px 50px;
  background-color: var(--turquoise);
  color: var(--white);
}

.btn--fb {
  padding: 17px 36px;
  background-color: var(--fb-blue);
  color: var(--white);
}

.btn--google {
  padding: 10px 53px;
  border: 2px solid var(--light-gray);
  background-color: var(--white);
  color: var(--black);
}

.btn--google img {
  width: 66%;
}

.fa-facebook-f {
  margin-right: 4px;
}

.btn--small-padding {
  padding: 17px 21px;
}

.btn--extra-large {
  width: 100%;
}

.btn--turquoise {
  background-color: var(--turquoise);
}

.btn--type-of-use {
  width: 70%;
  border: 1.5px solid var(--border-gray);
  margin-bottom: 5%;
  background: none;
  color: black;
}

.btn--type-of-use svg {
  margin-right: 5%;
}

.btn--selected {
  background-color: var(--gray);
  color: var(--white);
}

.btn--selected .fa-graduation-cap {
  background-color: var(--gray);
  color: var(--white);
}

.btn--type-of-use:hover {
  background-color: var(--gray);
  color: var(--white);
  transform: scale(1.1);
  transition: 2s;
}

.btn--type-of-use {
  transition: 1s;
}

@media (min-width: 375px) {
  .btn {
    padding: 17px 68px;
  }

  .btn--sign-in {
    padding: 17px 58px;
  }

  .btn--google {
    padding: 10px 60px;
  }

  .btn--fb {
    padding: 17px 43px;
  }

  .btn--small-padding {
    padding: 17px 29px;
  }

  .btn--type-of-use {
    width: 65%;
  }
}

@media (min-width: 425px) {
  .btn {
    padding: 17px 80px;
  }

  .btn--sign-in {
    padding: 17px 70px;
  }

  .btn--google {
    padding: 10px 74px;
  }

  .btn--fb {
    padding: 17px 57px;
  }
}

@media (min-width: 500px) {
  .btn {
    padding: 17px 62px;
  }

  .btn--sign-in {
    padding: 17px 56px;
  }

  .btn--google {
    padding: 10px 59px;
  }

  .btn--fb {
    padding: 17px 39px;
  }

  .btn--small-padding {
    padding: 17px 27px;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 14px 52px;
  }

  .btn--sign-in {
    padding: 14px 56px;
  }

  .btn--google {
    padding: 8px 53px;
  }

  .btn--fb {
    padding: 14px 27px;
  }

  .btn--small-padding {
    padding: 14px 27px;
  }

  .btn--type-of-use {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .btn {
    padding: 14px 50px;
  }

  .btn--sign-in {
    padding: 14px 49px;
  }

  .btn--google {
    padding: 7px 49px;
  }

  .btn--fb {
    padding: 14px 26px;
  }

  .btn--type-of-use {
    width: 75%;
  }

  .btn--type-of-use svg {
    margin-right: 5%;
  }
}

@media (min-width: 1440px) {
  .btn {
    padding: 14px 67px;
  }

  .btn--sign-in {
    padding: 14px 66px;
  }

  .btn--google {
    padding: 7px 67px;
  }

  .btn--fb {
    padding: 14px 45px;
  }

  .btn--small-padding {
    padding: 14px 37px;
  }
}
