.btn {
  padding: 16.5px 55px;
  border: 0;
  border-radius: 20px;
  background-color: var(--royal-blue);
  color: var(--white);
  font-weight: 700;
}

.btn--sign-in {
  padding: 16.5px 50px;
  background-color: var(--turquoise);
  color: var(--white);
}

.btn--fb {
  padding: 16.5px 36px;
  background-color: var(--fb-blue);
  color: var(--white);
}

.btn--google {
  padding: 9.5px 53px;
  border: 2px solid var(--light-gray);
  background-color: var(--white);
  color: var(--black);
}

.btn--google img {
  width: 66%;
}

.fa-facebook-f {
  margin-right: 4px;
}

.btn--small-padding {
  padding: 16.5px 21px;
}

.btn--extra-large {
  width: 100%;
}

.btn--turquoise {
  background-color: var(--turquoise);
}

.btn--type-of-use {
  width: 70%;
  border: 1.5px solid var(--border-gray);
  margin-bottom: 5%;
  background: none;
  color: black;
}

.btn--type-of-use svg {
  margin-right: 5%;
}

.btn--selected {
  background-color: var(--gray);
  color: var(--white);
}

.btn--selected .fa-graduation-cap {
  background-color: var(--gray);
  color: var(--white);
}

@media (min-width: 375px) {
  .btn {
    padding: 16.5px 68px;
  }

  .btn--sign-in {
    padding: 16.5px 58px;
  }

  .btn--google {
    padding: 9.5px 60px;
  }

  .btn--fb {
    padding: 16.5px 43px;
  }

  .btn--small-padding {
    padding: 16.5px 29px;
  }

  .btn--type-of-use {
    width: 65%;
  }
}

@media (min-width: 425px) {
  .btn {
    padding: 16.5px 80px;
  }

  .btn--sign-in {
    padding: 16.5px 70px;
  }

  .btn--google {
    padding: 9.5px 74px;
  }

  .btn--fb {
    padding: 16.5px 57px;
  }
}

@media (min-width: 500px) {
  .btn {
    padding: 16.5px 62px;
  }

  .btn--sign-in {
    padding: 16.5px 56px;
  }

  .btn--google {
    padding: 9.5px 59px;
  }

  .btn--fb {
    padding: 16.5px 39px;
  }

  .btn--small-padding {
    padding: 16.5px 27px;
  }

  .btn--type-of-use {
    transition: 1s;
  }

  .btn--type-of-use:hover {
    background-color: var(--gray);
    color: var(--white);
    transform: scale(1.1);
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 13.5px 52px;
  }

  .btn--sign-in {
    padding: 13.5px 56px;
  }

  .btn--google {
    padding: 7.5px 53px;
  }

  .btn--fb {
    padding: 13.5px 27px;
  }

  .btn--small-padding {
    padding: 13.5px 27px;
  }

  .btn--type-of-use {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .btn {
    padding: 13.5px 50px;
  }

  .btn--sign-in {
    padding: 13.5px 49px;
  }

  .btn--google {
    padding: 6.5px 49px;
  }

  .btn--fb {
    padding: 13.5px 26px;
  }

  .btn--type-of-use {
    width: 75%;
  }

  .btn--type-of-use svg {
    margin-right: 5%;
  }
}

@media (min-width: 1440px) {
  .btn {
    padding: 13.5px 67px;
  }

  .btn--sign-in {
    padding: 13.5px 66px;
  }

  .btn--google {
    padding: 6px 67px;
  }

  .btn--fb {
    padding: 13.5px 45px;
  }

  .btn--small-padding {
    padding: 13.5px 37px;
  }
}