.main__container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: var(--light-gray);
}

@media (min-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2%;
  }

  .forecast__container {
    grid-row: 1;
  }

  .task__container {
    grid-row: 1 / 3;
  }
}
