.task__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: var(--very-light-blue);
  padding: 14px;
}

.task__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--white);
}

.task__circle__check-icon {
  font-size: 12px;
  color: var(--green)
}

.task__content {
  flex-grow: 1;
  margin: 0 14px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.task__delete_icon {
  font-size: 20px;
  color: var(--light-blue);
}