.forecast__container {
  padding: 30px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--dark-blue);
}

.forecast__container__city h2,
.forecast__container__date p {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

.hour-and-weather-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast__container__hour p {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.forecast__container__weather p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
