.forecast__container {
  padding: 20px 30px 30px 30px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--dark-blue);
}

.forecast__container--warning {
  text-align: center;
}

.forecast__container--warning img {
  width: 70px;
}

.forecast__city-and-weather-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast__city,
.forecast__date {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

.forecast__weather {
  display: flex;
  align-items: center;
}

.forecast__weather p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.weather-icon {
  width: 50px;
}

.forecast__time {
  display: none;
}

@media (min-width: 768px) {
  .forecast__time {
    display: initial;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
  }

  .forecast__date {
    margin-top: 15px;
  }
}
