.fa-graduation-cap,
.fa-suitcase {
  color: var(--gray);
}

.btn--type-of-use:hover .fa-graduation-cap,
.btn--type-of-use:hover .fa-suitcase,
.btn--type-of-use:hover .fa-user {
  color: var(--white);
  transition: 1s;
}

.registration__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15% 3% 10% 3%;
}

.registration__container--type-of-use {
  text-align: center;
}

.registration__container h1 {
  margin-bottom: 10%;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.step-counter {
  text-align: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10%;
}

.registration__form label {
  margin-bottom: 5%;
  color: var(--gray);
  font-size: 14px;
  font-weight: 700;
}

.password-requirements {
  width: 100%;
  color: var(--gray);
  text-align: center;
  margin-bottom: 5%;
}

.password-requirements h2,
.password-requirements p {
  font-size: 14px;
  width: 80%;
  margin: 5px auto;
}

.registration__container .container-label-square {
  width: 80%;
  text-align: center;
  margin: 0 auto 5% auto;
}

.registration__container .container-label-square p {
  color: var(--black);
  font-size: 14px;
}

.registration__btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.registration__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration__wrapper p {
  margin: 0;
  color: var(--gray);
  font-size: 12px;
}

.registration__container .btn--extra-large {
  margin: 5% 0;
}

.registration__wrapper__line {
  width: 45%;
  height: 1px;
  background-color: var(--light-gray);
}

.registration__wrapper--btn {
  margin-top: 5%;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  transition: 2s;
}

.box-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  border: 2px solid var(--gray);
}

.paragraph-type-of-use {
  margin: 3% 0 7% 0;
}

.registration-error {
  padding-left: 5%;
  margin-bottom: 3%;
  color: red;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 500px) {
  .registration__container {
    display: initial;
    height: inherit;
    margin: 5% 0;
    padding: 0;
    width: 75%;
    box-shadow: 0 0 20px 1px var(--gray);
  }

  .registration__container--padding {
    padding: 15% 6% 10% 6%;
  }

  .box-info {
    width: 25%;
    padding: 2%;
  }
}

@media (min-width: 768px) {
  .registration__container {
    width: 55%;
  }

  .registration__container--padding {
    padding: 5% 10% 10% 10%;
  }

  .registration__form {
    padding-bottom: 2%;
  }
}

@media (min-width: 1024px) {
  .registration__container {
    width: 45%;
  }

  .registration__container--padding {
    padding: 15%;
  }

  .registration__form {
    padding-bottom: 8%;
  }
}

@media (min-width: 1440px) {
  .registration__container {
    width: 35%;
  }
}
