.login__container {
  position: relative;
  width: 96%;
  margin: 10px auto;
  box-shadow: 0 0 20px 1px var(--gray);
}

.login__container svg {
  vertical-align: 0;
}

.login__container h1 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.login__container__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 12px 25px 12px;
}

.login__container__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.login__container__form .input-container,
.login__container__form .btn {
  margin-bottom: 25px;
}

.login__container__form__reminder {
  color: var(--black);
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}

.login__separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.login__separator p {
  margin: 0;
  color: var(--gray);
  font-size: 10px;
}

.login__separator__line {
  width: 45%;
  height: 1px;
  background-color: var(--light-gray);
}

.login__social-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login__social-btns button {
  width: 47%;
}

.login__sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: var(--light-gray);
}

.login__sign-up p {
  font-size: 14px;
}

.login__sign-up .btn {
  margin-top: 12px;
}

@media (min-width: 480px) {
  .login__container {
    width: 420px;
    margin: 50px auto;
  }

  .login__container__form-wrapper {
    padding: 50px 50px 25px 50px;
  }

  .login__sign-up {
    padding: 50px;
  }
}
