.tasks__container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--dark-blue);
}

.tasks-list__title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.tasks-list__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

.tasks-list__wrapper {
  margin: 40px 0;
}

.tasks-list__add-task--btn {
  position: relative;
  align-self: flex-end;
  padding: 30px;
  margin-top: 26px;
  border: none;
  border-radius: 50%;
  background-color: var(--dark-blue);
  cursor: pointer;
}

.tasks-list__add-task--btn__plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   color: var(--white);
   font-size: 14px;
}
