.registration__container--profession .input-container__wrapper__icon {
  padding: 17px 8px;
}

.registration__container--profession .input-container__wrapper__text {
  width: 75%;
  padding: 10px 14px 10px 0;
}

.checkbox-and-input-wrapper {
  display: flex;
  align-items: center;
  height: 20%;
}

.checkbox-and-input-wrapper .input-container label {
  display: none;
}

@media (min-width: 768px) {
  .registration__container--profession .checkbox-and-input-wrapper label {
    margin-right: 3%;
  }
}

@media (min-width: 1024px) {
  .registration__container--profession .input-container__wrapper__icon {
    padding: 12px 6px;
  }

  .registration__container--profession .input-container__wrapper__text {
    padding: 5px 12px 5px 0;
  }
}
